name: CD

on:
  push:
    branches:
    - "!*"
    tags:
    - "v*"

jobs:
  build:
    runs-on: ubuntu-slim

    permissions:
      contents: read
      id-token: write

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: 23
        cache: npm
        registry-url: https://registry.npmjs.org

    - run: npm ci
    - run: npm run ci
    - run: npm test
      env:
        CI: true
    - run: npm publish --provenance --access public
